.hamburger-shell {
  margin: 0;
  position: fixed;
  overflow: hidden;
  width: 70px;
  height: 100px;
  overflow: auto;
  left: calc(100% - 100px);
  top: 20px;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
}

.top, .middle{
  position: absolute;
  width: 62px;
  height: 10px;
  background-color: black;
  transition: all 350ms ease-in-out;
  top: 20px;
}

.middle {
  top: 40px;
}

#menu {
  position: fixed;
  left: calc(100% - 292px);
  top: 10px;
  color: black;
  display: none;
  margin: 120px 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  color: #333;
  padding: 24px;
  width: 200px;
  text-align: right;
}

#menu li {
  text-decoration: none!important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid black;
  list-style: none;
  color: #555;
  transition: all 150ms ease;
}

#menu li:hover {
  color: #00abff;
  padding-right: 3px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

.menu-open .top {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.menu-open .middle {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: red;
  height: 2px;
}

.menu-name {
  font-family: Verdana;
  font-weight: 900;
  color: black;
  font-size: 19.5px;
  text-decoration: none;
  position: absolute;
  top: 56px;
  left: -1px;
  transition: all 350ms;
}

.menu-open .menu-name {
  top: 64px;
  color: red;
}

